
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PageNotFound</title>
    <link href="~/assets/img/vt.png" rel="icon">
</head>
<body style="display: flex; flex: 1; justify-content: center; background-image: url(/Areas/Admin/assets_admin/assets/img/vt-background.jpg); background-repeat: no-repeat; background-attachment: fixed; background-size: cover ">
    <div>
        <h1 style="margin-top: 10rem; color:aliceblue">Oops.... 404 Not Found</h1>
    </div>
</body>
</html>
