
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model DBConect.Farmework.OnboadingPost

<div style="margin-top: 20px" class="container">
    @Html.Raw(Model.OnboadingConten);
</div>

